@use "global" as *;

.works {
    margin-top: rem(70);
    @include mq('md') {
        margin-top: rem(150);
    }
}

.works__inner {
    position: relative;
    margin-top: rem(48);
    @include mq('md') {
        margin-top: 0;
        display: flex;
        padding: rem(80) rem(90);
        align-items: center;
        background: linear-gradient(to right, transparent 30%, $gray 30%, $gray 70%,);
    }
}

.swiper.slide2 {
    padding-bottom: rem(50);
}

.swiper-pagination-bullet {
    background-color: #F9F871;
    height: rem(12);
    width: rem(12);
    border-radius: 100%;
}


.swiper-wrapper.works-wrapper {
    max-width: rem(1200);
    width: 100%;
}

.swiper-slide.works-slide {

}


.works__body {
    padding: $padding-sp;
    background-color: $gray;
    @include mq('md') {
        max-width: 80%;
        width: 100%;
        background-color: transparent;
        padding-left: rem(32);
    }
}

.works__title {
    text-align: center;
    @include mq('md') {
        text-align: left;
    }
}

.works__title p {
    font-size: rem(20);
    color: $white;
    letter-spacing: rem(2);
    font-family: $main-font;
    font-weight: $regular;
    @include mq('md') {
        font-size: rem(25);
    }
}

.works__contents {
    margin-top: rem(24);
    @include mq('md') {
        margin-top: rem(48);
    }

}

.works__contents p {
    font-size: rem(16);
    color: $white;
    letter-spacing: rem(2);
    font-family: $main-font;
    font-weight: $regular;
    @include mq('md') {
        line-height : calc(35 / 16);
    }
}

.works__footer {
    display: flex;
    justify-content: center;
    margin-top: rem(16);
    @include mq('md') {
        margin-top: rem(48);
        justify-content: start;
    }
}

