@use "global" as *;

.content {
    position: relative;
    margin-top: rem(100);
}

.content::before {
    position: absolute;
    content: "";
    top: rem(-64);
    left: 0;
    width: 94.6875%;
    height: rem(1212);
    //background-color: $yellow;
    background-image:
    linear-gradient(to right top, transparent 49.9%, $yellow 50.1%, $yellow calc(49.9% + rem(2)), transparent calc(50.1% + rem(2)));
    opacity: 0.2;
    z-index: -1;
}

.section-title.title-left {
    @include mq('md') {
        display: flex;
        padding: 0 rem(20);
        justify-content: start;
    }
}

.content__container {
    margin-top: rem(48);
    @include mq('md') {
        margin-top: 0;
    }
}

.content__container-items {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    @include mq('md') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.content__container-item {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

.content__container-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: background-color 0.5s;
}

.content__container-item:hover::before {
    background-color: rgba($color: $white, $alpha: 0.6);
}



.content__container-item.content-item_0 {
    background: url(../../assets/images/common/keiei-rinen.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_1 {
    background: url(../../assets/images/common/rinenn-1.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_2 {
    background: url(../../assets/images/common/rinenn-2.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_3 {
    background: url(../../assets/images/common/rinenn-3.jpg) no-repeat center center / cover;
}

.container-item_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-item_text p {
    white-space: nowrap;
    color: $white;
    font-size: rem(20);
    letter-spacing: rem(2);
    font-family: $main-font;
    font-weight: $regular;
    @include mq('md') {
        font-size: rem(25);
        letter-spacing: rem(0.5);
    }
}

