@use "global" as *;

.content {
    margin-top: rem(100);
}

.section-title.title-left {
    @include mq('md') {
        display: flex;
        padding: 0 rem(20);
        justify-content: start;
    }
}

.content__container {
    margin-top: rem(48);
    @include mq('md') {
        margin-top: 0;
    }
}

.content__container-items {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    @include mq('md') {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.content__container-item {
    display: block;
    position: relative;
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
}

.content__container-item.content-item_0 {
    background: url(/assets/images/common/経営理念ページ.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_1 {
    background: url(/assets/images/common/理念１.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_2 {
    background: url(/assets/images/common/理念２.jpg) no-repeat center center / cover;
}
.content__container-item.content-item_3 {
    background: url(/assets/images/common/理念３.jpg) no-repeat center center / cover;
}

.container-item_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-item_text p {
    white-space: nowrap;
    color: $white;
    font-size: rem(20);
    letter-spacing: rem(2);
    font-family: $main-font;
    font-weight: $regular;
    @include mq('md') {
        font-size: rem(25);
        letter-spacing: rem(0.5);
    }
}

