@use "global" as *;

.news {

}

.news__inner {
    @include mq('md') {
        display: flex;
        align-items: center;
    }
}

.news__header {
    display: flex;
    align-items: center;
    @include mq('md') {

    }
}

.news__date {
    font-size: rem(16);
    color: $white;
    font-family: $main-font;
    font-weight: $regular;
}

.news__tag {
    max-width: rem(100);
    width: 100%;
    margin-left: rem(32);
    text-align: center;
    padding: rem(4) rem(21);
    border: rem(1) solid $white; 
    @include mq('md') {
        margin-left: rem(48);
    }
}

.news__tag p {
    font-size: rem(14);
    color: $white;
    font-family: $main-font;
    font-weight: $regular;
}

.news__body {
    margin-top: rem(16);
    @include mq('md') {
        margin-top: 0;
        margin-left: rem(60);
    }
}

.news__text {
    font-size: rem(16);
    color: $white;
    font-family: $main-font;
    font-weight: $regular;
}

.news__btn.btn {
    margin-top: rem(28);
    @include mq('md') {
        margin-top: 0;
        margin-left: rem(48);
        max-width: rem(134);
        width: 100%;
        padding: rem(2) rem(3);
        border: none;
        background-color: $white;
    }
}

.news__btn.btn p {
    color: $black;
    line-height: 1;
}


